body{
    background-color: #202020;
    color: white;
    margin: 0;
    padding: 0;
}

#menu{
    float: left;
    width: 220px;
    min-height: 960px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 50px;
    background-color: #101010;
}

#menu p{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
}

#menu p:hover{
    background-color: black;
}

#menu h6{
    margin-left: 15px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(163, 163, 161);
}

#logo{
    width: 80px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#container{
    float: left;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 1560px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

nav{
    width: 1580px;
    margin: 10px;
}

.tile{
    float: left;
    font-size: 25px;
    width: 296px;
    text-align: center;
    padding: 10px;
}

.tile:hover{
    background-color: #101010;
}


.blok{
    width: 780px;
    margin: 10px;
    float: left;
    font-size: 20px;
}

.blok h3{
    text-align: center;
}

.blok img{
    width: 100%;
    height: 400px;
}

footer{
    width: 1874px;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    background-color: black;
}

img{
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
    display: block;
}

.button{
    background-color: #101010;
    color: white;
}

.czas{
    margin: 15px;
    display: inline-block;
}

#data{
    margin-left: 0px;
}


.test-block {
    width:200px;
    border:2px solid rgba(71,236,30,1);
    background: rgba(71,236,30,0.7);
    text-align: center;
    color:#000;
    padding:20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

